fontSize: 14

# Disable the `g` and `s` keybindings.
keybinding:
  files:
    viewResetOptions: '<disabled>'
    stashAllChanges: '<disabled>'
    viewStashOptions: '<disabled>'
  branches:
    viewResetOptions: '<disabled>'
  commits:
    viewResetOptions: '<disabled>'
    squashCommit: '<disabled>'
  universal:
    viewResetOptions: '<disabled>'
